section {
  flex: 1;
  background-color: #E5E5E5;
  padding: 50px 73px;
}
section h1 {
  font-size: 48px;
  color: #001B36;
  margin-bottom: 51px;
}
section h2 {
  color: #035A27;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}
section .chart {
  width: 437px;
  height: 358px;
}
section .chart.barschart {
  margin-right: 55px;
}
section .chart,
section .linechart {
  background-color: #fff;
  box-sizing: border-box;
  padding: 21px 18px 0 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: -1px -2px 13px 1px #d8dde6;
  -moz-box-shadow: -1px -2px 13px 1px #d8dde6;
  box-shadow: -1px -2px 13px 1px #d8dde6;
}
section .linechart {
  width: 869px;
  height: 358px;
}
