nav {
  width: 100%;
  height: 85px;
  background: #000000;
  background: linear-gradient(180deg, #000000 0%, #b5b5b5 100%);
}
@media screen and (min-width: 768px) {
  nav {
    width: 105px;
    height: auto;
    flex-shrink: 0;
  }
}
nav a {
  width: 33.3%;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 11px 0;
}
@media screen and (min-width: 768px) {
  nav a {
    width: 100%;
    display: flex;
    margin-bottom: 45px;
  }
}
nav a:first-of-type {
  font-size: 18px;
}
nav a:first-of-type:hover,
nav a:first-of-type.active {
  background-color: unset;
}
nav a i {
  display: block;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
nav a i.img1 {
  background: url(../../assets/img/img1.png) no-repeat;
}
nav a i.img2 {
  background: url(../../assets/img/img2.png) no-repeat;
}
nav a:hover,
nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
}
