nav {
  width: 105px;
  height: 100%;
  background: #000000;
  background: linear-gradient(180deg, #000000 0%, #b5b5b5 100%);
}
nav a {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 45px;
  flex-direction: column;
  align-items: center;
  padding: 11px 0;
}
nav a:first-of-type {
  font-size: 18px;
}
nav a:first-of-type:hover,
nav a:first-of-type.active {
  background-color: unset;
}
nav a i {
  display: block;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
nav a i.img1 {
  background: url(../../assets/img/img1.png) no-repeat;
}
nav a i.img2 {
  background: url(../../assets/img/img2.png) no-repeat;
}
nav a:hover,
nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
}
